#tab-20 {
  width: 20%;
}

#tab-25 {
  width: 25%;
}

#tab-55 {
  width: 60%;
}

#tab-60 {
  width: 60%;
}

#tab-70 {
  width: 60%;
}
#tab-75 {
  width: 60%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

.tab-txt-center {
  text-align: center;
  vertical-align: middle;
}

.tab-title-txt {
  text-align: left;
}
